@import url("http://fonts.googleapis.com/css?family=Source+Code+Pro");
code[class*="language-"],
pre[class*="language-"] {
  color: #000;
  text-shadow: 0 1px #fff;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}
@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
pre[class*="language-"] {
  overflow: auto;
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #708090;
}
.token.punctuation {
  color: #999;
}
.namespace {
  opacity: 0.7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
  color: #690;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: rgba(255,255,255,0.5);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}
.token.function {
  color: #dd4a68;
}
.token.regex,
.token.important {
  color: #e90;
}
.token.important {
  font-weight: bold;
}
.token.entity {
  cursor: help;
}
.token.deleted {
  color: #f00;
}
.token.inserted {
  color: #008000;
}
body,
header,
footer,
a,
h1,
p {
  padding: 0;
  margin: 0;
}
p {
  line-height: 2em;
}
code,
pre {
  font-size: 14px;
  font-family: 'Source Code Pro' !important;
}
a {
  text-decoration: none;
  color: #333;
  transition: color 0.5s;
}
a:hover {
  color: #000;
}
h1 {
  font-size: 36px;
}
body {
  background: #fff;
  color: #555;
  font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN Normal", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}
#header {
  padding: 48px;
  color: #1e90ff;
  text-align: center;
  font-size: 24px;
  color: #111;
}
#header h1 {
  font-size: 36px;
  display: inline-block;
  padding: 0.3em;
  margin-bottom: 0.25em;
  font-weight: bold;
}
#header h1 a {
  color: #111;
}
#header h1 a:hover {
  color: #1e90ff;
}
#main {
  padding: 48px;
  width: 600px;
  margin: 0 auto;
}
#main h1 {
  font-size: 24px;
}
#main article {
  margin-bottom: 48px;
}
.meta {
  font-size: 14px;
  line-height: 28px;
}
.meta:after {
  content: '';
  display: block;
  clear: both;
}
.meta ul,
.meta li {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}
.meta .tag,
.meta .cat {
  padding-right: 0.5em;
}
.meta .tag:hover,
.meta .cat:hover {
  color: #1e90ff;
  cursor: pointer;
  transition: color 0.5s;
}
.meta .key,
.meta .value {
  float: left;
  margin-right: 0.5em;
}
.meta .key {
  font-weight: bold;
}
article main {
  margin-top: 1em;
  padding-top: 1em;
}
#footer {
  text-align: center;
  font-size: 12px;
  padding: 48px;
}
